{% extends "base.html" %}
{% block title %}Seznam obrazů{% endblock %}

{% block content %}
<h2>Kompletní galerie({{paintings_list.count}})</h2>
    <div class="row">
              {% for obraz in paintings_list %}
                  <div class="col">
                      <a href="{% url 'painting_detail' obraz.pk %}"><img src="{{ obraz.picture.url }}" class="img-fluid"></a>
                      {{obraz}}
                      {{ obraz.author }}
                  </div>
        {% endfor %}
            </div>
    {% endblock %}

