<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{% block title %}Galerie{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

{% load static %}
</head>
<body class="d-flex flex-column min-vh-100">
<header class="jumbotron-fluid p-5 text-center bg-dark">
    <h1 class="text-white text-uppercase display-3">Galerie</h1></header>
    <div class="container-fluid">
    <div class="row">
        <div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1">
            <nav class="nav navbar-light navbar-toggleable-sm">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarWEX" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse flex-column mt-md-0 mt-4 pt-md-0" id="navbarWEX">
                    <a class="nav-link navbar-brand active" href="~/Views/Forms/ControlPanel.cshtml"><span class="fa fa-home"></span></a>
                    <a href="{% url 'index' %}" class="nav-link">Úvod</a>
                    <a href="{% url 'paintings' %}" class="nav-link">Obrazy</a>
                    <a href="" class="nav-link">Autoři</a>
                </div>
            </nav>
        </div>
    </div>
</div>

<main>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</main>

<footer class="container-fluid text-center bg-dark text-white mt-auto">
    <hr>
    <p>&copy;2022</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>